{% extends "_includes/default.njk" %}
 
{% block title %}Questifier{% endblock %}
 
{% block content %}
  <main class="mx-auto max-w-8xl bg-gray-200 h-screen">
  <nav class="p-4 bg-indigo-700 text-indigo-100">
    <h1 class="text-2xl">Questifier</h1>
  </nav>

  <div
    x-data="
            {
                 questName: null,
                 askMessage: null,
            }
         "
        class="flex flex-row"
      >
  <section class="flex flex-col flex-1 p-4">
    <div class="flex">
      <label for="questNameInput">Quest name:</label>
      <input
        type="text"
        x-ref="questNameInput"
        class="p-2 border"
        x-model="questName"
      >
    </div>
    <div class="flex">
      <label for="askMessageTextarea">Ask Message</label>
      <textarea
        type="textarea"
        x-ref="askMessageTextarea"
        class="p-2 border"
        x-model="askMessage"
      ></textarea>
    </div>
  </section>


  <section class="flex flex-wrap flex-1 p-4">
    <pre>
      quests:
        quest01:
          name: <span x-text="questName"></span>
          ask-message: <span x-text="askMessage"></span>
    </pre>
  </section>
  </div>

</main>
{% endblock %}
